// Header

$lowerHeaderBackground: #FFF;
$lowerHeaderBackgroundBlend: #FFF;
$lowerHeaderFlexDirection: row;
$lowerHeaderTextColor: #777;
$siteLogoHeight: 56px;
$siteLogoWidth: auto;
$upperHeaderBackground: #2A2F43;
$upperHeaderBackgroundBlend: #2A2F43;
$upperHeaderTextColor: #FFF;

// Footer

$footerBackground: #2A2F43;
$footerBackgroundBlend: #2A2F43;
$footerTextColor: #FFF;